footer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 50px;

    >.conteiner-duvida {
        display: flex;
        max-width: 100%;
        position: relative;

        >img {
            max-width: 100%;
            min-height: 100px;
        }

        >.button-tira-duvida {
            position: absolute;
            z-index: 1;
            top: 62%;
            left: 48%;

            background-color: var(--color-amarelo);
            border: none;
            padding: 8px 4px;
            font-size: 0.6rem;
            font-weight: 700;
        }
    }

    >.redes-sociais {
        max-width: 100%;
        display: flex;

        >img {
            min-height: 100px;
            max-width: 100%;
        }
    }

    @media (min-width: 620px) {
        >.conteiner-duvida {
            >.button-tira-duvida {
                padding: 10px 16px;
                font-size: 0.8rem;
                font-weight: 600;
            }
        }
    }
}