@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


:root {
    --color-azul-eletrica: #1F2860;
    --color-azul-mais-escuro: #202332;
    --color-amarelo: #FBAF17;
    --color-gray-2: #D9D9D9;
    --color-gray-0: #FFFFFF;

}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

button {
    cursor: pointer;
    border-radius: 8px;
}
